{
    "printWidth": 80,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "svelteStrictMode": true,
    "svelteBracketNewLine": false,
    "svelteIndentScriptAndStyle": true,
    "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
    "svelteSortOrder": "scripts-options-markup-styles",
    "experimentalTernaries": true,
    "overrides": [
        {
            "files": ["*.svelte"],
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
